@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* My reusable classes */

.d-flex {
  display: flex;
}

.portfolio-color1 {
  color: #172b4d;
}

.portfolio-color2 {
  color: #36b37f;
}

.app-margin {
  margin: 0 24px;
}

/* The end of my reusable classes */

.mobile-nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.mobile-nav a span {
  font-size: 20px;
  font-weight: 600;
}

.introduction {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-image: url('img/Group.svg');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.introduction h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin: 0 10px;
}

.introduction p {
  text-align: center;
  margin-top: 20px;
  line-height: 28px;
}

.introduction ul {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.introduction ul li a {
  justify-content: center;
  margin-right: 23px;
}

.footer ul {
  display: flex;
}
