@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body,
html {
  background-color: #e5e5e5;
}

/* Reusable Classes */

.d-flex {
  display: flex;
}

.hidden {
  display: none;
}

.app-margin {
  margin: 0 24px;
}

.app-bckground-color {
  background-color: #fff;
}

/* Mobile Menu Styling */

.mobile-nav-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.mobile-nav a {
  color: #6070ff;
  font-weight: bolder;
  font-size: 22px;
}

.my-links {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6070ff;
  z-index: 20;
  opacity: 0.8;
}

.my-links i {
  flex-direction: row;
  margin-left: 90%;
  margin-top: 25px;
  color: #fff;
  font-size: 25px;
}

.mobile-nav div i {
  color: #acb7c3;
  font-size: 18px;
}

.my-links a {
  color: #fff;
  font-weight: bolder;
  font-size: 32px;
  margin: 0 24px;
  padding-bottom: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e8ed569;
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* Portfolio section Styling */

.portfolio {
  background-image: url('img/porfolio_background.svg');
  height: 100vh;
  border-bottom-left-radius: 100px;
}

.portfolio p {
  padding-top: 5px;
  color: #344563;
  font-size: 16px;
  margin-bottom: 10px;
}

.portfolio h2 {
  color: #7f8cff;
  font-size: 16px;
  padding-bottom: 8px;
}

.portfolio h1 {
  padding-top: 90px;
  font-size: 40px;
  font-weight: 900;
  color: #172b4d;
}

.icons {
  padding-bottom: 20px;
}

.icons li a i {
  color: #505f79;
  margin-right: 22px;
  font-size: 20px;
}

/* Projects (Cards) Section */

.projects {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  padding-top: 120px;
}

.card-container {
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  margin-bottom: 40px;
}

.card {
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  margin: 16px;
}

.card h2 {
  font-weight: 900;
  color: #172b4d;
  font-size: 28px;
}

.card-hx-list {
  align-items: center;
}

.card-hx-list li {
  padding-right: 6px;
}

.card-hx-list h3 {
  color: #344563;
  font-size: 13px;
}

.card-hx-list h4 {
  color: #7a869a;
  font-size: 13px;
}

.dot {
  border-radius: 50%;
  border: none;
  width: 16px;
  height: 16px;
  background-color: #c1c7d0;
}

.card-par {
  padding-top: 6px;
  color: #344563;
  font-size: 15px;
}

.languages {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.languages li {
  padding: 3px 10px;
  color: #6070ff;
  background-color: #ebebff;
  margin-right: 8px;
  border-radius: 13px;
}

.card button {
  padding: 6px;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  background-color: #ffff;
  border: 1px solid #396df2;
  border-radius: 13px;
  width: 40%;
  margin-bottom: 10px;
}

/*Styling for the (About) section*/

.about {
  border-top-right-radius: 100px;
}

.about-intro {
  padding-top: 60px;
}

.about-intro h2 {
  font-size: 40px;
  color: #172B4D;
  line-height: 52px;
}

.about-intro p {
  padding-top: 10px;
  font-size: 16px;
  color: #344563;
  line-height: 24px;
}

.about-intro h3 {
  padding-top: 15px;
  color: #7f8cff;
  font-size: 16px;
  padding-bottom: 12px;
}

.about-intro button {
  padding: 6px;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  background-color: #ffff;
  border: 1px solid #396df2;
  border-radius: 13px;
  width: 50%;
  margin-bottom: 10px;
}

.technologies li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #acb7c3;
  padding: 10px;
}
